@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

/* --- Estilização da Barra de Rolagem --- */
html {
  scrollbar-width: thin;
  scrollbar-color: #c70000 #222;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #222; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c70000; 
  border-radius: 10px;
  border: 2px solid #222; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e04444; 
}
::-webkit-scrollbar-corner {
  background: #222;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #0a0a0a, #1b1b1b);
  color: #fff;
  overflow-x: hidden;
}
:root {
 --vinho: #360a03;
 --black: #000000;
}


.desktop-navbar {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: all 0.3s ease;
    width: calc(100% - 2rem);
    max-width: 1200px;
}
.glass-morphism {
    display: flex;
    justify-content: space-between;
    background: var(--black);
    backdrop-filter: blur(20px);
    /* Efeito de desfoque do fundo */
    border: 1px solid #ac0f0f;
    border-radius: 3rem;
    box-shadow: 0 8px 32px 0 rgba(194, 9, 9, 0.549);
    /* Sombra sutil */
}
.logo{

}
.links-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.login-nav{
  width: 50px;
  height: 60px;
  margin-right: 10px;
}
.desktop-navbar a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.mobile-navbar {
  display: none;
}

header h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.8rem;
  color: #ff0033;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff0033;
}

.hero {
  margin-top: 6rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../img/background/1000097489.png);
  background-size: 70%;
  background-repeat: repeat;
  background-position: center center;
  height: 80vh;
  padding: 0;
}
.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

b{
  color: #fff0f0;
  animation: wine-glow 2s infinite alternate;
}
@keyframes wine-glow {
    0% {
        text-shadow: 0 0 2px #a71b1b, 0 0 4px #800000, 0 0 6px #800000, 0 0 8px #800000, 0 0 10px #800000;
    }
    50% {
        text-shadow: 0 0 4px #a91515, 0 0 8px #800000, 0 0 12px #800000, 0 0 16px #800000, 0 0 20px #800000;
    }
    100% {
        text-shadow: 0 0 2px #a31e1e, 0 0 4px #800000, 0 0 6px #800000, 0 0 8px #800000, 0 0 10px #800000;
    }
}
h2 {
  margin-left: 20px;
  font-family: "Ms Madi", cursive;
  font-weight: 500;
  text-shadow: #760e0e 6px 6px 8px;
  font-style: normal;
  font-size: 3rem;
  color: #ffffff;
}
.texto-maior{
  font-family: "Copse", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: #000000 6px 6px 8px;
  color: #ffffff;
}
.texto-menor{
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  text-shadow: #000000 8px 8px 12px;
  color: #ffffff;
  margin-bottom: 20px;
}
.hero-text p {
  max-width: 70%;
  text-shadow: #000000 4px 4px 6px;
  margin-bottom: 30px;
  line-height: 1.6;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.CTA-rounded {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  /* Faz o botão ficar totalmente arredondado (forma de pílula) */
  border-radius: 99em; 
  overflow: hidden; 
  z-index: 1; 
}

.CTA-rounded::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  width: 200%; 
  height: 200%;
  background: conic-gradient(
    #ffffff 50%, 
    transparent 50% 
  );
  animation: spin 3s linear infinite;
}
.CTA-rounded::after {
  content: '';
  position: absolute;
  z-index: -1; 
  background: #a30c0c;
  inset: 2px; 
  border-radius: 99em;
  transition: background 0.3s ease;
}
.CTA-rounded span {
  display: block; 
  position: relative; 
  z-index: 2; 
  padding: 18px 30px;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  transition: color 0.3s ease;
}
.CTA-rounded:hover span {
  color: #fff;
}
.CTA-rounded:hover::after {
  background: rgb(81, 13, 13); 
}

.hero img {
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 0 0 20px #ff0033;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}
.card-box{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 30px;
}

.card {
  flex: 1;
  background: #111;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 0, 51, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
/* .card {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 0, 51, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
} */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 0, 51, 0.8);
}
.img-card img {
  border-radius: 1em;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.info-card {
  padding: 10px;
  margin-top: 15px;
  text-align: left;
}
.info-card h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  font-size: 0.9rem;
}

.btnLogin-popup {
    margin-left: auto;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10rem;
    height: 50px;
    background: transparent;
    border: 2px solid #FFBA42;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #FFBA42;
    transition: 0.5s;
    gap: 1rem;
    font-family: 'MinhaFonte', sans-serif;
}

.btnLogin-popup p {
    font-size: 1.7rem;
}

.btnLogin-popup img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}


.btnLogin-popup-mobile {
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10rem;
    height: 50px;
    background: transparent;
    border: 2px solid #FFBA42;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #FFBA42;
    transition: 0.5s;
    gap: 1rem;
    font-family: 'MinhaFonte', sans-serif;
}

.btnLogin-popup-mobile p {
    font-size: 1.7rem;
}

.btnLogin-popup-mobile img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}
@media (max-width: 1023px) {
    .redes {
        display: none;
    }

    #logoicon {
        margin-left: 1vw;
        max-width: 20vw;
        min-height: 100%;
        display: none;
    }
    #logo-container{
        margin: 0;
    }


    .navbar {
        gap: 3%;
        padding: 0;
        justify-content: space-around;
    }
    .options{
        margin: 0;
    }

    .btnLogin-popup {
        margin-left: 3%;
        margin-right: 0.5vw;
    }
}

@media (max-width: 768px) {
    .desktop-navbar {
        display: none;
    }
    #logoicon{
        display: block;
        margin-left: 2vw;
        height: calc(8vw + 2rem);
    }

    .mobile-navbar {
        top: 0;
        position: fixed;
        width: 100%;
        background-color: #360a03;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
    }


    .menu-toggle {
        margin-right: 4vw;
        width: 40px;
        height: 25px;
        position: relative;
        cursor: pointer;
        border: none;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        z-index: 1101;
    }

    .menu-toggle span {
        display: block;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 3px;
        transition: transform 0.4s, opacity 0.4s;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(50deg) translate(6px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-50deg) translate(9px, -9px);
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000033;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1100;
        animation: none;
    }

    .mobile-nav.active {
        display: flex;
        animation: fadeInUp 0.8s ease-out forwards;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .mobile-nav {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease;
    }

    .mobile-nav.active {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        opacity: 1;
        visibility: visible;
        background: linear-gradient(-45deg, #340404, #540606, #580f0f, #360303, #000000);
        background-size: 400% 400%;
        animation: bg 12s ease infinite, fadeInUp 0.8s ease-out forwards;

    }

    .mobile-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-nav li {
        margin: 1.5rem 0;
    }

    .mobile-nav a {
        color: white;
        font-size: 1.8rem;
        letter-spacing: 1px;
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    }

    .btnLogin-popup {
        margin: 0;
    }

    .redes-mobilenavbar {}

    body.noscroll {
        overflow: hidden;
    }
}
