body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: white;
    text-align: center;
    margin: 0;
}
header {
    background-image: url('../img/background-gym.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100dvh;
    filter: brightness(2);
}
#ryancoach {
    max-width: 100%;
    height: 95.8dvh;
    filter: brightness(0.5) !important;
}